.about {
  background: url("../img/about-mobile@1x.png") no-repeat right center;
  width: 270px;
  padding: 30px 25px 85px;
  margin: 0 auto;
}

.about__title {
  @include section-title-orange;
}

.about__description {
  font-weight: 300;
  margin: 0;
  margin-bottom: 25px;
}

.about__description-bold {
  display: block;
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    width: 688px;
    padding: 30px 345px 85px 40px;
    box-sizing: border-box;
  }

  .about__title {
    font-size: 45px;
    line-height: 45px;
  }

  .about__description {
    font-size: 28px;
    line-height: 33px;
  }

  .about__description-bold {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 53px;
  }

  .about__button {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 1320px;
    padding: 130px 630px 160px 60px;
    box-sizing: border-box;
  }
}
