.add-plan {
  margin-top: -30px;

  background-color: $light-blue;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.add-plan__wrapper {
  @include container;
  @include padding-t-b(27px, 70px);

  position: relative;
}

.add-plan__title {
  margin: 0;
  margin-bottom: 30px;
  padding-right: 80px;

  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.add-plan__pagination {
  @include list-reset;

  position: absolute;
  top: 38px;
  right: 43px;

  display: flex;
}

.add-plan__pagination-item {
  width: 5px;
  height: 5px;
  margin-right: 16px;

  background-color: $blue;
  border-radius: 50%;
  opacity: 0.3;

  &:last-child {
    margin-right: 0;
  }
}

.add-plan__pagination-item_current {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .add-plan__wrapper {
    @include extra-offset(35px, 35px);
    @include padding-t-b(43px, 120px);
  }

  .add-plan__title {
    margin-bottom: 52px;

    font-size: 36px;
    line-height: 50px;
  }

  .add-plan__pagination {
    top: 66px;
    right: 75px;
  }

  .add-plan__pagination-item {
    margin-right: 29px;
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    margin-top: -60px;

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .add-plan__wrapper {
    @include container;
    @include padding-t-b(46px, 130px);
  }

  .add-plan__title {
    margin-left: 70px;
  }

  .add-plan__pagination {
    display: none;
  }
}
