.business-offer {
  display: block;
  width: 270px;

  font-weight: 300;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
}

.business-offer__box {
  padding: 30px 25px;
}

.business-offer__title {
  @include section-title-orange;
}

.business-offer__list {
  @include list-reset;

  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.business-offer__item {
  padding: 10px 0;
  padding-right: 100px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.business-offer__button {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $blue;
  text-transform: uppercase;

  background-color: #f3f4f8;
  border: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  &:hover,
  &:focus {
    background-color: #edeff6;
  }

  &:active {
    @include opacity-color($blue, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .business-offer {
    box-sizing: border-box;
    width: 688px;
  }

  .business-offer__box {
    padding: 60px 90px;
  }

  .business-offer__item {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
  }

  .business-offer__button {
    padding: 40px 5px;
  }
}

@media (min-width: $desktop-width) {
  .business-offer {
    width: 750px;
  }

  .business-offer__box {
    padding: 50px 60px;
  }
}
