.button {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  font-family: inherit;
  color: $blue;

  background-color: $light-yellow;
  border: none;
  border-radius: 10px;

  &::after {
    content: "";

    height: 0;
    margin-left: 15px;

    border: 10px solid $blue;
    border-top: 7px solid transparent;
    border-right: none;
    border-bottom: 7px solid transparent;
  }

  &:hover,
  &:focus {
    background-color: $yellow;
  }

  &:active {
    @include opacity-color($blue, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 28px 36px 30px 34px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    box-sizing: border-box;
    width: 280px;
  }
}
