.calendar {
  width: 100%;
  margin-bottom: 25px;
}

.calendar__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 15px 0;

  border: 1px solid #cbced9;
  border-right: none;
  border-left: none;
}

.calendar__month-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.calendar__table {
  width: 100%;

  font-size: 14px;
  line-height: 18px;

  @include opacity-color($grey, 0.3);
}

.calendar__row:first-child {
  color: $grey;
}

.calendar__th {
  text-align: center;
}

.calendar__expand {
  display: none;
}

.calendar__th:nth-last-child(1) {
  color: #ff5c23;
}

.calendar__th:nth-last-child(2) {
  color: #ff5c23;
}

.calendar__td {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .calendar__expand {
    display: inline;
  }
}
