.calendar {
  width: 100%;
}

.calendar__head {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 43px;
  margin: 0;
  margin-bottom: 17px;

  border: 1px solid #cbced9;
  border-right: none;
  border-left: none;
}

.calendar__month-title {
  align-self: center;
  padding: 5px;

  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.calendar__button {
  width: 43px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 9px auto;
  border: 0;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.calendar__button_prev {
  background-image: url("../../img/month-arrow-left.svg");
  background-position: left center;
}

.calendar__button_next {
  background-image: url("../../img/month-arrow-right.svg");
  background-position: right center;
}

.calendar__table {
  @include opacity-color($grey, 0.3);

  width: 100%;

  border-collapse: collapse;
  font-size: 14px;
  line-height: 18px;
}

.calendar__row:first-child {
  color: $grey;
}

.calendar__th {
  box-sizing: border-box;
  width: 14.2%;
  height: 30px;
  padding: 2px;

  text-align: center;
}

.calendar__expand-head {
  display: none;
}

.calendar__th:nth-last-child(1) {
  color: #ff5c23;
}

.calendar__th:nth-last-child(2) {
  color: #ff5c23;
}

.calendar__td {
  box-sizing: border-box;
  width: 14.2%;
  padding: 0;

  text-align: center;

  border: 1px solid #cbced9;
}

.calendar__td-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;

  color: $grey;

  background-color: $grey-blue;

  &:hover {
    position: relative;
    z-index: 1;

    color: rgba(255, 255, 255, 1);

    background-color: $blue;
    outline: 2px solid #ff5c23;
  }
}

.calendar__input:focus + .calendar__td-label {
  position: relative;
  z-index: 1;

  color: rgba(255, 255, 255, 1);

  background-color: $blue;
  outline: 2px solid #ff5c23;
}

.calendar__input:checked + .calendar__td-label {
  color: rgba(255, 255, 255, 1);

  background-color: $blue;
}

.calendar__input:disabled + .calendar__td-label {
  @include opacity-color($grey, 0.3);

  background-color: rgba(255, 255, 255, 1);
}

.calendar__expand-month {
  display: none;
}

@media (min-width: $tablet-width) {
  .calendar__table {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;
  }

  .calendar__expand-head {
    display: inline;
  }

  .calendar__head {
    min-height: 85px;
    margin-bottom: 31px;
  }

  .calendar__button {
    width: 85px;

    background-size: 15px auto;
  }

  .calendar__button_prev {
    background-position: 15px center;
  }

  .calendar__button_next {
    background-position: right 15px center;
  }

  .calendar__td-label {
    height: 68px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $blue;

    &:hover {
      outline: 4px solid #ff5c23;
    }
  }

  .calendar__input:disabled + .calendar__td-label {
    @include opacity-color($blue, 0.3);
  }

  .calendar__input:focus + .calendar__td-label {
    outline: 4px solid #ff5c23;
  }
}

@media (min-width: $desktop-width) {
  .calendar__head {
    min-height: 87px;
    margin-bottom: 8px;
  }

  .calendar__button {
    background-size: 18px auto;
  }

  .calendar__button_prev {
    background-position: left center;
  }

  .calendar__button_next {
    background-position: right center;
  }

  .calendar__th {
    padding-bottom: 15px;
    padding-left: 16px;

    font-weight: normal;
    text-align: initial;
  }

  .calendar__td-label {
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    height: 70px;
    padding: 5px 15px;

    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: $grey;
  }

  .calendar__input:disabled + .calendar__td-label {
    @include opacity-color($grey, 0.3);
  }

  .calendar__expand-month {
    display: initial;
    margin-left: 10px;
  }

  .calendar__td-label_check-in {
    position: relative;

    &::after {
      content: "Заезд";
      position: absolute;
      bottom: 8px;
      left: 15px;
    }
  }

  .calendar__td-label_check-out {
    position: relative;

    &::after {
      content: "Выезд";
      position: absolute;
      bottom: 8px;
      left: 15px;
    }
  }
}
