$bed-offset: 84px;
$bed-design: 4px;

.card {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 14px 20px 23px;

  color: $blue;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;

  &:hover {
    .card__image-img {
      transform: scale(1.05);
    }
  }

  &:focus-within {
    .card__image-img {
      transform: scale(1.05);
    }
  }
}

.card__image {
  position: absolute;
  top: 15px;
  left: 18px;

  width: 70px;
  height: 70px;
  overflow: hidden;

  border-radius: 50%;
}

.card__image-img {
  border-radius: 50%;
}

.card__title {
  position: relative;

  margin: 0;
  margin-bottom: 8px;
  padding-right: 40px;
  padding-left: $bed-offset;

  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.card__link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;

    width: 6px;
    height: 6px;

    background-color: $pink;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.card__link_active::before {
  background-color: $light-green;
}

.card__like {
  position: relative;

  margin-bottom: 17px;
  padding-left: $bed-offset;

  &:last-of-type {
    display: none;
  }
}

.card__like-button {
  position: absolute;
  top: -8px;
  left: 47px;
}

.card__tags {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  margin-left: $bed-design;
  padding-right: 52px;

  font-size: 15px;
  line-height: 18px;
  color: $grey;
}

.card__tag-item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.card__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-left: $bed-design;
}

.card__section-title {
  display: inline-block;
  margin-bottom: 16px;
  margin-left: -10px;
  padding: 0 10px;

  font-size: 15px;
  line-height: 18px;
  vertical-align: middle;
  color: $grey;

  background-color: rgba(255, 255, 255, 1);

  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;

    height: 1px;
    margin-top: 11px;

    background-color: $grey-blue;
  }
}

.card__needs {
  @include list-reset;

  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: -5px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $blue;
  text-transform: uppercase;
}

.card__need-country {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 120px;
  margin-right: 25px;
  margin-bottom: 10px;

  // &:last-child {
  //   margin-bottom: 0;
  // }
}

.card__flag {
  margin-right: 15px;
}

.card__prefers {
  @include list-reset;

  display: flex;
}

.card__prefer-item {
  width: 33px;
  height: 33px;

  background-color: red;
  border-radius: 50%;
}

.card__button {
  margin-top: 3px;

  &:hover,
  &:focus {
    background-color: $yellow;
  }

  &:active {
    @include opacity-color($darkness-blue, 0.3);
  }
}

.card__level {
  position: relative;

  width: 45px;
  height: 45px;
  margin-top: -6px;

  font-size: 24px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  $bed-offset: 225px;

  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    min-height: 330px;
    padding: 30px 25px 16px 35px;
  }

  .card__image {
    top: 35px;
    left: 35px;

    width: 190px;
    height: 190px;

    border-radius: 20px;
  }

  .card__image-img {
    border-radius: 20px;
  }

  .card__title {
    order: -2;
    padding-right: 28px;
    padding-left: $bed-offset;

    font-size: 30px;
    line-height: 30px;
  }

  .card__link {
    &::before {
      top: 50%;
      right: 0;

      width: 7px;
      height: 7px;
    }
  }

  .card__tags {
    align-content: flex-start;
    width: 230px;
    margin-bottom: 47px;
    padding-right: 0;
    padding-left: $bed-offset;

    font-size: 20px;
    line-height: 24px;
  }

  .card__section-title {
    align-self: baseline;
    margin-left: 34px;

    font-size: 15px;
    line-height: 18px;
  }

  .card__like {
    display: none;

    font-size: 20px;
    line-height: 30px;

    &:last-of-type {
      display: block;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: -225px;
      padding-left: 0;
    }
  }

  .card__like-button {
    position: static;
  }

  .card__sub-section {
    .card__section-title {
      display: none;
    }
  }

  .card__section {
    &:first-of-type {
      flex-direction: column;
      order: 2;
      width: 100%;
      margin-top: auto;
    }

    &:last-of-type {
      flex-direction: column;
      order: -1;
      margin-bottom: -148px;
      margin-left: 60px;
    }
  }

  .card__needs {
    display: flex;
    width: auto;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 30px;
  }

  .card__prefers {
    flex-direction: column;
    align-items: center;
  }

  .card__need-country {
    min-width: auto;
    margin-right: 30px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .card__button {
    margin-top: 0;
    margin-right: 225px;
    margin-bottom: 20px;
    margin-left: $bed-offset - 4px;
  }

  .card__level {
    width: 60px;
    height: 60px;
    margin-top: 5px;

    &::before {
      content: "";

      width: 30px;
      height: 1px;

      background-color: rgba(0, 0, 0, 0.1);
    }

    &::after {
      @include opacity-color($grey, 0.4);

      content: "level";

      font-size: 14px;
      line-height: 14px;
    }
  }

  .card__flag {
    width: 35px;
    height: auto;
    margin-right: 8px;
  }
}

@media (min-width: $desktop-width) {
  .card {
    height: 285px;
    min-height: 285px;
    padding: 45px 44px 40px 344px;

    &::before {
      content: "";
      position: absolute;
      top: 45px;
      left: 630px;

      width: 1px;
      height: 187px;

      background: linear-gradient(180deg, #ffffff 0%, $grey-blue 15%, $grey-blue 85%, #ffffff 100%);
      background-color: #edeff6;
    }
  }

  .card__image {
    top: 0;
    left: 0;

    width: 285px;
    height: 285px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card__image-img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card__title {
    order: -2;
    align-self: flex-start;
    padding-left: 0;
  }

  .card__link {
    &::before {
      position: absolute;
      left: -25px;

      margin-left: 0;
    }
  }

  .card__tags {
    margin-right: 250px;
    margin-bottom: 47px;
    padding-left: 0;
  }

  .card__needs {
    margin-right: 20px;
    flex-direction: column;
  }

  .card__need-country {
    min-width: 210px;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .card__flag {
    margin-right: 16px;
  }

  .card__level {
    margin-top: 0;
  }

  .card__section {
    &:first-of-type {
      flex-direction: column;
      order: -1;
      width: auto;
      margin-top: 0;
      margin-bottom: -67px;
    }

    &:last-of-type {
      flex-direction: row;
      align-items: center;
      order: 1;
      width: 42.3%;
      margin: 0;
    }
  }

  .card__section-title {
    display: none;
  }

  .card__prefers {
    flex-direction: row;
  }

  .card__button {
    margin: 0;
  }

  .card__like {
    &:last-of-type {
      margin-top: 0;
      margin-left: 0;
    }
  }
}
