.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin-bottom: 10px;

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }

  &:focus-within {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__button {
  position: relative;

  margin: 25px auto;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: $blue;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;

    width: 18px;
    height: 18px;

    background: url("../../img/show-more-plus.svg") no-repeat center;
    transform: translateY(-50%);
  }
}

@media (min-width: $tablet-width) {
  .catalog__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog__button {
    margin: 50px auto;

    font-size: 20px;
    line-height: 30px;

    &::before {
      left: -50px;

      width: 27px;
      height: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 950px;
    margin: 0;
  }

  .catalog__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog__button {
    margin: 70px auto;
  }
}
