.checkbox {
  position: relative;

  display: block;
  padding-left: 40px;

  font-size: 15px;
  line-height: 15px;
  color: $grey;
}

.checkbox__visual {
  position: absolute;
  top: 50%;
  left: 0;

  border-radius: 4px;
  transform: translateY(-50%);
}

.checkbox__svg {
  display: none;
}

.checkbox input:checked + .checkbox__visual {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px 9px;

  .checkbox__svg {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .checkbox {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}
