.contact {
  display: flex;
  align-items: center;

  color: $darkness-blue;
}

.contact__icon {
  display: flex;
  width: 40px;
  height: 40px;

  border-radius: 50%;

  svg {
    margin: auto;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.contact__link {
  &:hover,
  &:focus {
    background-color: $yellow;
  }

  &:active {
    @include opacity-color($darkness-blue, 0.3);
  }
}

.contact__icon_yellow {
  background-color: $yellow;

  &:hover,
  &:focus,
  &:active {
    background-color: $orange;
  }
}

.contact__icon_orange {
  background-color: $orange;

  &:hover,
  &:focus,
  &:active {
    background-color: #f26926;
  }
}

@media (min-width: $tablet-width) {
  .contact__icon {
    width: 50px;
    height: 50px;
  }
}
