.contact-us__info {
  .contact__phone-link {
    color: $light-yellow;
  }

  .contact__mail-link {
    color: $light-yellow;
  }
}

.contact-us__yellow-box {
  font-weight: bold;
  color: $dark-blue;

  background-color: $light-yellow;
}
