.contact-us__wrapper {
  @include container;
  @include padding-t-b(20px, 35px);
}

.contact-us_dark {
  color: $dark-blue;
}

.contact-us__lead {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
}

.contact-us__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: $light-yellow;
}

.contact-us__item {
  display: flex;
  align-items: center;

  font-weight: bold;

  &:hover,
  &:focus {
    color: $yellow;

    .contact-us__icon {
      color: $yellow;
    }
  }

  &:active {
    @include opacity-color($yellow, 0.3);

    .contact-us__icon {
      @include opacity-color($yellow, 0.3);
    }
  }
}

.contact-us__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 20px;

  color: $light-yellow;

  background-color: $black-blue;
  border-radius: 50%;
}

.contact-us__yellow-box {
  font-weight: bold;
  color: $dark-blue;

  background-color: $light-yellow;
}

.contact-us__address {
  margin-bottom: 35px;

  font-style: normal;
  text-transform: uppercase;
}

.contact-us__link {
  border: 3px solid $dark-blue;
  border-radius: 10px;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 1);

    background-color: $dark-blue;

    &::after {
      border-color: rgba(255, 255, 255, 1);
      border-top-color: transparent;
      border-bottom-color: transparent;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      &::after {
        border-color: rgba(255, 255, 255, 0.3);
        border-top-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .contact-us {
    font-size: 28px;
    line-height: 28px;
  }

  .contact-us__wrapper {
    @include extra-offset(35px, 35px);
    @include padding-t-b(70px, 85px);
  }

  .contact-us__lead {
    @include content-text-light;

    margin-bottom: 45px;
  }

  .contact-us__link {
    font-size: 24px;
    line-height: 24px;
  }

  .contact-us__icon {
    width: 67px;
    height: 67px;

    svg {
      width: 27px;
      height: auto;
    }
  }

  .contact-us__yellow-box {
    svg {
      width: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact-us__wrapper {
    @include extra-offset(223px, 73px);
    @include padding-t-b(70px, 80px);
  }

  .contact-us__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-us__icon {
    width: 90px;
    height: 90px;

    svg {
      width: 36px;
    }
  }

  .contact-us__yellow-box {
    .contact-us__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 60px;
    }

    svg {
      width: 28px;
    }
  }

  .contact-us__address {
    margin-bottom: 0;
  }
}
