.country-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.country-item__img {
  display: block;
  width: 270px;
  height: 110px;

  border-radius: 10px;
}

.country-item__box {
  position: relative;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -15px;
  padding: 25px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.country-item__title {
  margin: 0;

  font-size: 21px;
  line-height: 21px;
  color: $darkness-blue;
}

.country-item__lead {
  @include opacity-color($grey, 0.3);

  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.country-item__statistic {
  @include opacity-color($grey, 0.3);

  position: relative;

  margin-left: auto;

  font-weight: 500;

  &::before {
    content: "";

    display: inline-block;
    width: 11px;
    height: 11px;
    padding-right: 10px;

    background: url("../../img/user.svg") no-repeat center;
  }
}

.country-item__flag {
  position: absolute;
  top: -12px;
}

@media (min-width: $tablet-width) {
  .country-item {
    display: flex;
    flex-direction: row-reverse;
  }

  .country-item__img {
    width: 186px;
    height: 140px;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .country-item__box {
    flex-grow: 1;
    flex-direction: column;
    margin-top: 0;
    padding-right: 190px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .country-item__title {
    font-size: 24px;
    line-height: 24px;
  }

  .country-item__statistic {
    order: 1;
    margin-left: 0;

    font-size: 20px;

    &::before {
      width: 21px;
      height: 21px;
    }
  }

  .country-item__lead {
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 20px;
  }

  .country-item__flag {
    width: 71px;
    height: 48px;
    top: 15px;
    right: -35px;
  }
}

@media (min-width: $desktop-width) {
  .country-item {
    width: 560px;
  }

  .country-item__box {
    padding-right: 130px;
  }
}
