.countries {
  @include list-reset;
}

.countries__sub {
  @include list-reset;

  display: none;
}

.countries__letter {
  display: none;
}

.countries__sub_active {
  display: block;
}

.countries__item-sub {
  font-size: 16px;
  line-height: 22px;
  color: $grey;
}

.countries__link {
  &:hover,
  &:focus {
    color: $blue;
  }

  &:active {
    @include opacity-color($blue, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .countries {
    flex-direction: row-reverse;
  }

  .countries__item {
    margin-left: auto;
  }

  .countries__item-sub {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .countries {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 61px;
    padding-left: 36px;
  }

  .countries__sub {
    display: block;
  }

  .countries__item {
    margin-bottom: 50px;

    &:nth-child(5n+1) {
      width: 20.5%;
    }

    &:nth-child(5n+2) {
      width: 20.5%;
    }

    &:nth-child(5n+3) {
      width: 21%;
    }

    &:nth-child(5n+4) {
      width: 20%;
    }

    &:nth-child(5n+5) {
      width: 18%;
    }
  }

  .countries__letter {
    display: block;
    margin: 0;
    margin-bottom: 31px;

    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: $darkness-blue;
  }
}
