.country-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.country-item__img {
  display: block;

  border-radius: 10px;
}

.country-item__box {
  position: relative;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -11px;
  padding: 25px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.country-item__title {
  margin: 0;

  font-size: 21px;
  line-height: 21px;
  color: $darkness-blue;
}

.country-item__lead {
  @include opacity-color($grey, 0.3);

  width: 100%;
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.country-item__statistic {
  position: relative;

  margin-left: auto;

  font-weight: 500;
  color: $grey;

  opacity: 0.3;

  &::before {
    content: "";

    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 6px;

    background: url("../../img/user.svg") no-repeat center;
  }
}

.country-item__flag {
  position: absolute;
  top: -12px;
}

@media (min-width: $tablet-width) {
  .country-item {
    display: flex;
    flex-direction: row-reverse;
  }

  .country-item__img {
    width: 186px;
    height: 140px;

    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .country-item__box {
    flex-grow: 1;
    flex-direction: column;
    margin-top: 0;
    padding-top: 28px;
    padding-right: 190px;
    padding-bottom: 23px;
    padding-left: 30px;

    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .country-item__title {
    margin-bottom: 4px;

    font-size: 24px;
    line-height: 24px;
  }

  .country-item__statistic {
    display: inherit;
    order: 1;
    margin-left: 0;

    font-size: 20px;

    &::before {
      width: 21px;
      height: 21px;
    }
  }

  .country-item__lead {
    margin-bottom: 19px;

    font-size: 20px;
    line-height: 20px;
  }

  .country-item__flag {
    top: 15px;
    right: -35px;

    width: 71px;
    height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .country-item {
    width: 560px;
  }

  .country-item__box {
    padding: 21px 40px 21px 31px;
  }

  .country-item__lead {
    margin-bottom: 25px;
  }

  .country-item__flag {
    top: 22px;
  }
}
