.directions {
  color: $grey;
}

.directions__wrapper {
  @include container;
  @include padding-t-b(70px, 30px);
}

.directions__text-box {
  width: 195px;
  margin-bottom: 65px;
  padding-left: 25px;
}

.directions__title {
  @include section-title-orange;
}

.directions__desription {
  margin: 0;

  font-weight: 300;
}

.directions__list {
  @include list-reset;

  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .directions__wrapper {
    @include extra-offset(32px, 32px);
    @include padding-t-b (75px, 75px);

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 289px 575px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  .directions__text-box {
    width: 340px;
    padding-left: 0;
  }

  .directions__desription {
    @include content-text-light;
  }

  .directions__list {
    margin-bottom: 45px;
  }

  // .directions__button {
  //   width: 100%;
  // }
}

@media (min-width: $desktop-width) {
  .directions__wrapper {
    @include extra-offset(780px, 170px);
    @include padding-t-b(200px, 140px);

    position: relative;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right top;
  }

  .directions__list {
    position: absolute;
    top: 200px;
    left: 130px;

    margin-bottom: 0;
  }
}
