.directions {
  @include bordered-bottom;

  color: $grey;
}

.directions__wrapper {
  @include container;
  @include padding-t-b(100px, 32px);
}

.directions__text-box {
  width: 195px;
  margin-bottom: 63px;
  padding-left: 25px;
}

.directions__title {
  @include section-title-orange;
}

.directions__description {
  margin: 0;

  font-weight: 300;
}

.directions__list {
  @include list-reset;

  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .directions__wrapper {
    @include extra-offset(35px, 34px);
    @include padding-t-b (130px, 80px);

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position-x: 91.9%;
    background-position-y: 24%;
    background-size: 289px 575px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  .directions__text-box {
    width: 340px;
    margin-bottom: 68px;
    padding-left: 0;
  }

  .directions__title {
    margin-bottom: 58px;
  }

  .directions__description {
    @include content-text-light;
  }

  .directions__list {
    position: relative;

    margin-bottom: 45px;
    padding-top: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -34px;

      width: 141px;
      height: 141px;

      background-color: #e2e5f2;
      border-radius: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .directions__wrapper {
    @include extra-offset(70px, 179px);
    @include padding-t-b(224px, 147px);

    position: relative;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position-x: 94.8%;
    background-position-y: 63%;
  }

  .directions__list {
    margin-bottom: 0;
    padding-top: 0;

    &::before {
      top: -75px;
      left: -70px;
    }
  }

  .directions__text-box {
    margin-bottom: 100px;
  }

  .directions__button {
    position: absolute;
    right: 298px;
    bottom: 139px;
  }
}
