.fade {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 49px;

    background: linear-gradient(to right, transparent 0%, #ffffff 40%);
  }
}
