.footer {
  color: $grey;

  background-color: rgba(255, 255, 255, 1);
}

.footer__wrapper {
  @include container;
  @include padding-t-b(40px, 15px);
}

.footer__link-logo {
  width: 96px;
  margin-bottom: 40px;
  padding: 0;

  text-align: center;
}

.footer__social {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    @include padding-t-b(50px, 50px);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__link-logo {
    width: 165px;
    margin-bottom: 0;

    img {
      vertical-align: middle;
    }
  }

  .footer__social {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__link-logo {
    width: 198px;
  }
}
