.form-filter {
  margin-bottom: 25px;
  padding: 25px;

  color: $blue;

  background-color: $light-yellow;
  border-radius: 20px;
}

.form-filter__slogan {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 22.5px;
  line-height: 22.5px;
}

.form-filter__box {
  margin: 0;
  padding: 0;

  border: none;
}

.form-filter__box-inner {
  padding-bottom: 15px;

  border-top: 1px solid #f3c72b;
}

.form-filter__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 15px;

  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";

    width: 8px;
    height: 4px;

    background: url("../../img/dropdown.svg") no-repeat center;
  }
}

.form-filter__category-toggle:focus + .form-filter__title {
  opacity: 0.6;
}

.form-filter__category-toggle:checked + .form-filter__title {
  padding-bottom: 15px;

  &::after {
    transform: rotate(180deg);
  }
}

.form-filter__list {
  @include list-reset;

  display: none;

  color: $grey;
}

.form-filter__list-prefers {
  display: none;
}

.form-filter__category-toggle:checked ~ .form-filter__list {
  display: block;
}

.form-filter__category-toggle:checked ~ .form-filter__list-prefers {
  display: flex;
}

.form-filter__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-filter__label {
  &:hover {
    opacity: 0.6;
  }

  &:focus-within {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.form-filter__button {
  width: 100%;
  margin-top: 5px;

  &:hover,
  &:focus {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  }

  &:active {
    background-color: #f3c72b;
    box-shadow: none;
  }
}

.form-filter__checkbox-visual {
  width: 18px;
  height: 18px;

  background-color: rgba(255, 255, 255, 1);
}

@media (min-width: $tablet-width) {
  .form-filter {
    padding: 35px;
  }

  .form-filter__slogan {
    margin-bottom: 35px;
  }

  .form-filter__box-inner {
    display: flex;
    padding-top: 35px;
    padding-bottom: 0;

    border: none;

    .form-filter__category-toggle ~ .form-filter__list {
      display: flex;
      flex-wrap: wrap;
      width: 82%;
    }
  }

  .form-filter__list-prefers {
    display: flex;
    width: 82%;
  }

  .form-filter__item {
    width: 33.3%;
    margin-bottom: 0;
  }

  .form-filter__title {
    width: auto;
    margin-right: auto;
    padding-top: 0;

    &::after {
      content: none;
    }
  }

  .form-filter__category-toggle:checked + .form-filter__title {
    padding-bottom: 0;
  }

  .form-filter__box:first-of-type .form-filter__box-inner {
    border-top: 1px solid #f3c72b;
  }

  .form-filter__box:last-of-type .form-filter__box-inner {
    padding-bottom: 50px;

    border-bottom: 1px solid #f3c72b;
  }

  .form-filter__checkbox-visual {
    width: 24px;
    height: 24px;
  }

  .form-filter__button {
    margin-top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .form-filter {
    box-sizing: border-box;
    width: 285px;
    margin: 0;
    padding: 50px;
  }

  .form-filter__box-inner {
    display: block;

    .form-filter__category-toggle ~ .form-filter__list {
      display: none;
    }

    .form-filter__category-toggle ~ .form-filter__list-prefers {
      display: none;
    }

    .form-filter__category-toggle:checked ~ .form-filter__list {
      display: block;
      width: auto;
    }

    .form-filter__category-toggle:checked ~ .form-filter__list-prefers {
      display: flex;
      width: auto;
    }
  }

  .form-filter__box {
    .form-filter__box-inner {
      padding: 0;
      padding-bottom: 15px;
    }

    &:last-of-type {
      .form-filter__box-inner {
        border: none;
      }
    }

    &:first-of-type {
      .form-filter__box-inner {
        border: none;
      }
    }
  }

  .form-filter__title {
    width: 100%;
    padding-top: 15px;

    &::after {
      content: "";
    }
  }

  .form-filter__item {
    width: auto;
    margin-bottom: 15px;
  }

  .form-filter__category-toggle:checked + .form-filter__title {
    padding-bottom: 15px;
  }

  .form-filter__button {
    margin-top: 5px;
  }
}
