.guide {
  padding-bottom: 40px;

  background-image: linear-gradient(to bottom, $darkness-blue 0%, $darkness-blue 25%, transparent 25%);
}

.guide__list {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $darkness-blue;

  @include list-reset;
}

.guide__item {
  padding: 25px;
  padding-right: 102px;
}

.guide__item:nth-child(1) {
  background-color: $orange;
}

.guide__item:nth-child(2) {
  background-color: $light-orange;
}

.guide__item:nth-child(3) {
  background-color: $yellow;
}

.guide__item:nth-child(4) {
  background-color: $light-yellow;
}

@media (min-width: $tablet-width) {
  .guide__list {
    display: flex;
    flex-wrap: wrap;

    font-size: 24px;
    line-height: 24px;
  }

  .guide__item {
    width: 50%;
    padding: 30px 25px 60px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .guide__item {
    width: 25%;
    padding: 30px;
  }
}
