.guide__list {
  @include list-reset;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $darkness-blue;

  counter-reset: countItems;
}

.guide__item {
  position: relative;

  margin-bottom: -15px;
  padding: 23px 102px 36px 25px;

  background-color: $orange;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 22px;
  }

  &::after {
    content: counter(countItems);
    position: absolute;
    top: 22px;
    right: 20px;

    color: rgba(255, 255, 255, 1);

    counter-increment: countItems;
  }
}

.guide__item:nth-child(2) {
  background-color: $light-orange;
}

.guide__item:nth-child(3) {
  background-color: $yellow;
}

.guide__item:nth-child(4) {
  background-color: $light-yellow;
}

@media (min-width: $tablet-width) {
  .guide__list {
    display: flex;
    flex-wrap: wrap;

    font-size: 24px;
    line-height: 24px;
  }

  .guide__item {
    flex-grow: 1;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: -1px;
    padding: 29px 33px 14px;

    border-radius: 0;

    &::after {
      position: static;

      display: block;

      font-size: 30px;
      line-height: 50px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
      padding-bottom: 13px;

      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:nth-child(2n+1) {
      min-width: 378.7px;
      margin-right: -35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .guide {
    width: 100%;
  }

  .guide .guide__item {
    display: flex;
    justify-content: space-between;
    width: 25%;
    min-width: auto;
    margin: 0;
    margin-right: -35px;
    padding: 29px 69px 31px 30px;

    border-radius: 20px;

    &::after {
      font-size: 24px;
      line-height: 24px;
    }

    &:first-child {
      margin-right: -61px;
      padding-right: 100px;
    }

    &:last-child {
      flex-grow: 0;
      width: 315px;
      margin-right: 0;
      padding-right: 33px;
    }
  }
}
