.header {
  position: relative;

  background-color: $darkness-blue;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin: 0 auto;
  padding: 0 25px;
}

.header__contact {
  display: flex;
}

.header__login-link {
  display: none;
}

.header__mail-link {
  display: none;
}

.header__phone-link {
  display: none;
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    width: 688px;
    padding: 0 40px;
  }

  .header__login-link {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    justify-content: flex-start;
    width: 1320px;
    padding: 0 60px;
  }

  .header__link-logo {
    margin-right: 245px;
  }

  .header__toggle {
    display: none;
  }

  .header__contact {
    order: 1;
    margin-left: auto;
  }

  .header__mail-link {
    display: block;
  }

  .header__phone-link {
    display: block;
  }
}
