.inner-nav {
  @include bordered-bottom;

  z-index: 4;

  background-color: $darkness-blue;
}

.inner-nav__wrapper {
  @include container;
  @include padding-t-b(27px, 0);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-nav__title {
  position: relative;

  margin: 0;
  padding-bottom: 12px;

  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;

    height: 5px;

    background-color: $orange;
    border-radius: 3px;
  }
}

.inner-nav__link-to-main {
  display: none;
}

.inner-nav__profile-box {
  display: none;
}

@media (min-width: $tablet-width) {
  .inner-nav__wrapper {
    @include extra-offset(35px, 35px);
    @include padding-t-b(82px, 0);
  }

  .inner-nav__title {
    padding-bottom: 66px;

    font-size: 60px;
    line-height: 70px;

    &::after {
      bottom: -4px;

      height: 8px;

      border-radius: 4px;
    }
  }

  .inner-nav__link-to-main {
    position: relative;

    display: block;
    align-self: baseline;
    margin-top: 27px;
    padding-right: 60px;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: 32px;
      height: 16px;

      background: url("../../img/return.svg");
      transform: translateY(-50%);
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .inner-nav__wrapper {
    @include extra-offset(66px, 64px);

    padding-top: 105px;
  }

  .inner-nav__wrapper_direct {
    @include extra-offset(66px, 96px)
    @include padding-t-b(51px, 0);
  }

  .inner-nav__title {
    align-self: flex-end;
  }

  .page-form {
    .inner-nav__wrapper {
      padding-bottom: 0;
    }
  }

  .inner-nav__profile-box {
    position: relative;

    display: flex;
    align-items: center;
  }

  .inner-nav__level {
    position: relative;

    width: 94px;
    height: 94px;
    margin-right: 45px;

    font-size: 38px;
    line-height: 38px;
    color: rgba(255, 255, 255, 1);

    &::before {
      content: "";

      width: 49px;
      height: 2px;

      background-color: #cbced9;
      opacity: 0.3;
    }

    &::after {
      content: "level";

      font-size: 18px;
      line-height: 22px;
      color: rgba(255, 255, 255, 1);
    }
  }

  .inner-nav__image {
    display: block;
    width: 190px;
    height: 190px;
  }

  .inner-nav__label-photo {
    position: absolute;
    right: 0;
    bottom: -47px;

    box-sizing: border-box;
    width: 190px;
    padding: 13px 5px 14px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: $darkness-blue;
    text-transform: uppercase;

    background-color: $lightness-blue;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    &:hover,
    &:focus {
      background-color: #d1d7e9;
    }

    &:active {
      @include opacity-color($blue, 0.3);
    }
  }
}
