.letters {
  @include list-reset;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $blue;

  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid #cbced9;
  border-left: 1px solid #cbced9;
}

.letters__item {
  display: flex;
  width: 20%;
  height: 42px;
}

.letters__label {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;

  border-right: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
}

.letters__input:checked + .letters__label {
  color: rgba(255, 255, 255, 1);

  background-color: $blue;
}

.letters_light {
  border: 0;

  .letters__input:checked + .letters__label {
    color: $blue;

    background-color: #edeff6;
  }
}

.letters__label_select:hover {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;

    border: 1px solid #959bb2;
  }
}

@media (min-width: $tablet-width) {
  .letters {
    @include opacity-color($dark-blue, 0.2);

    font-weight: bold;
    font-size: 60px;
    line-height: 60px;

    background-color: transparent;
    border: 0;
  }

  .letters__item {
    height: 77px;

    background-color: transparent;
  }

  .letters__label {
    background-color: transparent;
    border: 0;
  }

  .letters__input:checked + .letters__label {
    color: $dark-blue;

    background-color: transparent;
  }

  .letters_light {
    width: 52.1%;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $blue;
    letter-spacing: 2px;

    border-top: 1px solid #cbced9;
    border-left: 1px solid #cbced9;

    .letters__input:checked + .letters__label {
      color: rgba(255, 255, 255, 1);

      background-color: $blue;
    }

    .letters__label {
      border-right: 1px solid #cbced9;
      border-bottom: 1px solid #cbced9;
    }
  }
}

@media (min-width: $desktop-width) {
  .letters_light {
    display: flex;
    justify-content: space-between;

    border: 0;

    .letters__item {
      width: auto;
      height: auto;
      margin-bottom: 15px;
    }

    .letters__label {
      box-sizing: border-box;
      width: 60px;
      height: 70px;

      border: 1px solid #cbced9;
      border-radius: 4px;
    }
  }

  .letters__label_select:hover::after {
    border-radius: 4px;
  }
}
