.like {
  font-size: 14px;
  line-height: 21px;
  color: $darkness-blue;
  text-transform: uppercase;
}

.like__button {
  display: inline-flex;
  width: 31px;
  height: 31px;
  padding: 0;

  vertical-align: baseline;

  background-color: $grey-blue;
  border: none;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: #e2e5f2;

    .like__icon {
      opacity: 0.5;
    }

    &:active {
      .like__icon {
        opacity: 0.1;
      }
    }
  }
}

.like__icon {
  margin: auto;

  opacity: 0.3;

  fill: $darkness-blue;
}

.like_more {
  .like__button {
    color: rgba(255, 0, 0, 1);

    background-color: $light-pink;

    &:hover,
    &:focus {
      background-color: #f9d8d8;

      .like__icon {
        opacity: 1;
      }
    }

    &:active {
      .like__icon {
        opacity: 0.3;
      }
    }
  }

  .like__icon {
    color: #f02323;

    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .like {
    font-size: 20px;
    line-height: 30px;
  }

  .like__button {
    width: 50px;
    height: 50px;
  }

  .like__icon {
    width: 20px;
    height: 17px;
  }
}
