.offer {
  font-weight: 300;
  color: $grey;
}

.offer__wrapper {
  @include extra-offset(25px, 0);
  @include padding-t-b(65px, 35px);

  position: relative;

  background-image: url("../img/rates@1x.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 99px 99px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/rates@2x.png");
  }
}

.offer__title {
  @include section-title-orange;

  margin-bottom: 40px;
  padding-right: 145px;
}

.offer__list {
  @include list-reset;

  box-sizing: border-box;
  width: 100%;
  min-width: 200px;
  margin-bottom: 30px;
  padding-right: 45px;

  counter-reset: countItems;
}

.offer__item {
  position: relative;

  padding: 10px 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  &::before {
    content: counter(countItems);
    position: absolute;
    top: 0;
    right: -40px;

    width: 34px;
    height: 34px;

    line-height: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    background-color: $light-orange;
    border-radius: 50%;

    counter-increment: countItems;
  }

  &:nth-child(2)::before {
    background-color: $yellow;
  }

  &:nth-child(3)::before {
    background-color: $light-yellow;
  }
}

.offer__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $dark-blue;
}

.offer__button-icon {
  display: none;
}

@media (min-width: $tablet-width) {
  .offer__wrapper {
    @include container;
    @include padding-t-b(70px, 70px);
  }

  .offer__title {
    margin-bottom: 70px;
    padding: 0;

    text-align: center;
  }

  .offer__list {
    position: relative;
    z-index: 1;

    min-width: 562px;
    padding-right: 35px;
    padding-left: 90px;

    &::after {
      content: "";
      position: absolute;
      top: -40px;
      right: 0;
      z-index: -1;

      width: 198px;
      height: 285px;

      background-color: #e2e5f2;
      border-radius: 20px;
    }
  }

  .offer__item {
    @include content-text-light;

    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    &::before {
      left: -85px;

      width: 67px;
      height: 67px;

      line-height: 70px;
    }
  }

  .offer__button {
    display: flex;
    align-items: center;

    font-size: 20px;
    line-height: 20px;
    color: #132576;
  }

  .offer__button-icon {
    display: flex;
    width: 67px;
    height: 67px;
    margin-right: 20px;

    background-color: #e2e5f2;
    border-radius: 50%;

    svg {
      margin: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .offer__wrapper {
    @include extra-offset(70px, 75px);
    @include padding-t-b(150px, 150px);

    background-size: 198px 198px;
  }

  .offer__list {
    width: 1070px;
    padding-right: 170px;

    &::after {
      width: 444px;
      height: 300px;
    }
  }
}
