.page__section_dark {
  background-color: $darkness-blue;
}

.page__section_light {
  background-color: $grey-blue;
}

.page_main {
  // @for $i from 1 to 10 {
  //   section:nth-child(#{$i}) {
  //     z-index: 10 - $i;
  //   }
  // }
  section:nth-child(1) {
    z-index: 9;
  }

  section:nth-child(2) {
    z-index: 8;
  }

  section:nth-child(3) {
    z-index: 7;
  }

  section:nth-child(4) {
    z-index: 6;
  }

  section:nth-child(5) {
    z-index: 5;
  }

  section:nth-child(6) {
    z-index: 4;
  }

  section:nth-child(7) {
    z-index: 3;
  }
}

@media (min-width: $tablet-width) {
  .page__section_dark {
    background-color: $darkness-blue-2;
  }
}

@media (min-width: $desktop-width) {
  .page__section_dark {
    background-color: $darkness-blue;
  }
}
