.people__wrapper {
  @include container;
  @include padding-t-b(40px, 40px);

  position: relative;
  background-image: url("../../img/smolov-back-desktop@1x.png"),
    url("../../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top left, top right;
  background-size: 143px, 61px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../../img/smolov-back-desktop@2x.png"),
      url("../../img/rogovaya-back-mobile@2x.png");
  }
}

.people__text-box {
  width: 215px;
  margin-bottom: 60px;
  padding-left: 25px;
}

.people__title {
  @include section-title-orange;
}

.people__description {
  margin: 0;
  margin-bottom: 23px;

  font-weight: 300;
}

.people__description-bold {
  display: block;
}

@media (min-width: $tablet-width) {
  .people__wrapper {
    @include extra-offset(35px, 35px);
    @include padding-t-b(80px, 80px);

    background-image: url("../../img/smolov-back-desktop@1x.png"),
      url("../../img/rogovaya-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-size: 143px, 285px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/smolov-back-desktop@2x.png"),
        url("../../img/rogovaya-back-desktop@2x.png");
    }
  }

  .people__text-box {
    width: 425px;
    padding-left: 0;
  }

  .people__description {
    @include content-text-light;
  }

  .people__description-bold {
    @include content-text-bold;
  }
}

@media (min-width: $desktop-width) {
  .people__wrapper {
    @include extra-offset(70px, 0);
  }

  .people__list {
    position: absolute;
    top: 60px;
    right: 60px;
  }
}
