.peoples {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.peoples__item {
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .peoples {
    margin-bottom: 80px;
  }

  .peoples__item {
    width: 285px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .peoples {
    width: 630px;
  }
}
