.plan {
  padding: 23px 24px 21px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;

  &:nth-child(1) {
    .plan__title::before {
      content: "1.";
    }
  }

  &:nth-child(2) {
    .plan__title::before {
      content: "2.";
    }
  }
}

.plans__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.plan__title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 16px;
  line-height: 16px;

  &::before {
    margin-right: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
}

.plan__date {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.plan__friends {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.plan__change {
  @include opacity-color(#000000, 0.3);

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  &:hover,
  &:focus {
    @include opacity-color(#000000, 0.6);
  }

  &:active {
    @include opacity-color(#000000, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 17px;
  }

  .plan__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 17px;
    padding: 25px 32px 22px 36px;

    font-size: 24px;
    line-height: 50px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &::before {
      margin-right: 0;

      font-size: 20px;
      line-height: 20px;
    }
  }

  .plan__date {
    margin-right: 32px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .plan__friends {
    margin-bottom: 0;
    margin-left: 33px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .plan__change {
    margin-right: 34px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }
}

@media (min-width: $desktop-width) {
  .plan {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    padding: 23px 39px 24px 42px;
  }

  .plan__title {
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    min-width: 280px;
    margin-bottom: 0;
    padding: 0;

    border-bottom: none;

    &::before {
      margin-right: 36px;
    }
  }

  .plan__friends {
    margin-right: 50px;
    margin-left: 304px;
  }

  .plan__date {
    // margin-right: 130px;
  }

  .plan__change {
    margin-right: 0;
    margin-left: auto;
  }
}
