.prefers {
  @include list-reset;

  flex-wrap: wrap;
}

.prefers__item {
  position: relative;

  display: flex;
  width: 33px;
  height: 33px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;

  svg {
    margin: auto;

    opacity: 0.15;
  }

  &:hover {
    .prefers__tooltip {
      display: block;
    }
  }
}

.prefers__item_grey {
  background-color: $grey-blue;
}

.prefers__item_active svg,
.prefers__input:checked + svg {
  opacity: 1;
}

.prefers__label {
  display: flex;
  width: 100%;
  padding-left: 0;

  color: $blue;

  border-radius: 50%;
}

.prefers__input:not(:checked):hover + svg,
.prefers__input:not(:checked):focus + svg {
  opacity: 0.3;
}

.prefers__input:not(:checked):active + svg {
  opacity: 0.1;
}

.prefers__label:hover,
.prefers__label:focus {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.prefers__label:active {
  background-color: #e2e5f1;
}

.prefers__input:checked:hover + svg,
.prefers__input:checked:focus + svg {
  color: #101e44;

  opacity: 0.7;
}

.prefers__input:checked:active + svg {
  color: #101e44;

  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .prefers__item_grey {
    background-color: transparent;
  }
}
