.profile__wrapper {
  @include container;
  @include padding-t-b(25px, 25px);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile__image {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;

  border-radius: 50%;
}

.profile__label-photo {
  width: 100%;
  margin-bottom: 30px;
  padding: 6px 10px 4px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: $darkness-blue;
  text-transform: uppercase;

  background-color: $lightness-blue;
  border-radius: 20px;
}

.profile__box-outer {
  position: relative;

  display: flex;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
}

.profile__label {
  position: absolute;
  top: -12px;
  left: 50%;

  padding: 5px 15px;

  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;

  background-color: $grey-blue;
  transform: translateX(-50%);
}

.profile__tags {
  box-sizing: border-box;
  width: 100%;
  padding: 25px;

  font-size: 16px;
  line-height: 22px;
  color: $grey;

  background-color: $grey-blue;
  border: 1px solid #cbced9;
  border-radius: 10px;

  resize: none;
}

.profile__list-prefers {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 17px 5px;

  border: 1px solid #cbced9;
  border-radius: 10px;
}

@media (min-width: $tablet-width) {
  .profile__wrapper {
    @include extra-offset(35px, 35px);
    @include padding-t-b(60px, 60px);

    justify-content: space-between;
  }

  .profile__image {
    width: 94px;
    height: 94px;

    border-radius: 5px;
  }

  .profile__label {
    top: auto;
    bottom: -15px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  .profile__label-photo {
    margin: 50px 0;
    padding: 20px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    border-radius: 10px;
  }

  .profile__tags {
    padding: 35px;

    font-size: 20px;
    line-height: 24px;
  }

  .profile__level {
    order: -2;
  }

  .profile__box-outer {
    margin: 0;
    margin-bottom: 15px;

    &:last-of-type {
      order: -1;
      width: 49.8%;
    }
  }
}

@media (min-width: $desktop-width) {
  .profile__wrapper {
    @include extra-offset(65px, 0);
    @include padding-t-b(70px, 65px);

    display: flex;
  }

  .profile__level {
    display: none;
  }

  .profile__image {
    display: none;
  }

  .profile__label-photo {
    display: none;
  }

  .profile__box-outer {
    width: 58.2%;

    &:last-of-type {
      order: 0;
      width: 30.6%;
    }
  }
}
