.promo {
  position: relative;

  background-image: url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center,
    center;
}

.promo__wrapper {
  @include container;
  @include padding-t-b (23px, 40px);
}

.promo__contact {
  margin: 0;
  margin-bottom: 30px;
}

.promo__title {
  margin: 0;
  margin-bottom: 242px;
  padding: 0 15px;

  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.promo__login-link {
  flex-grow: 1;

  text-transform: uppercase;
}

.promo__reviews {
  width: 230px;
  margin-bottom: 30px;
}

.promo__guide::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 290px;

  background-color: $dark-blue;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    @include padding-t-b (29px, 29px);
  }

  .promo__contact {
    display: none;
  }

  .promo__title {
    padding: 0 145px;

    font-size: 60px;
    line-height: 70px;
  }

  .promo__reviews {
    width: 260px;
  }

  .promo__guide::before {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .promo__title {
    width: 400px;
    padding: 0 20px;

    text-align: left;
  }
}
