.promo {
  position: relative;
}

.promo__wrapper {
  @include container;
  @include padding-t-b (19px, 40px);

  // background-image: linear-gradient($darkness-blue),
  //    url("../img/traveller-illustration-mobile@1x.png"),
  //   url("../img/globe-back-desktop@1x.jpg");
  // background-repeat: no-repeat;
  // background-position-x: 0, 63%, 51%;
  //   background-position-y: 82.7%, 20.5%, 50px;
  // background-size: 100% 500px, 192px auto, 1165px auto;
  //
  // @media (min-resolution: $retina-dppx) {
  //   background-image: linear-gradient($darkness-blue),
  //     url("../img/traveller-illustration-mobile@2x.png"),
  //     url("../img/globe-back-desktop@2x.jpg");
  // }
}

.promo__wrapper-mobile {
  margin: 0 -25px;
  padding: 0 25px;

  background-image:
  // linear-gradient($darkness-blue),
     url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position-x:
  // 0,
  63%,
  51%;
    background-position-y:
    // 82.7%,
    100%,
    -32%;
  background-size:
  // 100% 500px,
  192px auto,
  1165px auto;

  @media (min-resolution: $retina-dppx) {
    background-image:
    // linear-gradient($darkness-blue),
      url("../img/traveller-illustration-mobile@2x.png"),
      url("../img/globe-back-desktop@2x.jpg");
  }
}

.promo__contact {
  margin: 0;
  margin-bottom: -140px;
}

.promo__title {
  margin: 0 auto;
  margin-bottom: 227px;
  padding: 0 15px;

  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.promo__login-link {
  flex-grow: 1;

  text-transform: uppercase;
}

.promo__reviews {
  width: 230px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.promo__guide::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 290px;

  background-color: $dark-blue;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    @include padding-t-b (29px, 29px);

    background-image: url("../img/traveller-illustration-tablet@1x.png"),
      url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center,
      center;
    background-size: auto 591px, auto 591px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png"),
        url("../img/globe-back-tablet@2x.jpg");
    }
  }

  .promo__contact {
    display: none;
  }

  .promo__title {
    padding: 0 145px;

    font-size: 60px;
    line-height: 70px;
  }

  .promo__reviews {
    width: 260px;
  }

  .promo__guide::before {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-image: url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center,
      center;
    background-size: 431px, 1439px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png"),
        url("../img/globe-back-desktop@2x.jpg");
    }
  }

  .promo__title {
    width: 400px;
    padding: 0 20px;

    text-align: left;
  }
}
