.registration__wrapper {
  width: 270px;
  padding: 70px 25px 0;
  margin: 0 auto;
}

.registration__title {
  @include section-title-orange;

  margin-bottom: 23px;
  text-align: center;
  display: block;
}

.registration__lead {
  font-weight: 300;
  padding: 0 15px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.registration__link {
  color: $light-yellow;
  text-decoration: underline;
}

@media (min-width: $tablet-width) {
  .registration__wrapper {
    width: 768px;
    box-sizing: border-box;
    padding: 70px 75px 0;
  }

  .registration__title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 60px;
  }

  .registration__lead {
    padding: 0;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .registration__wrapper {
    width: 1440px;
    padding: 100px 130px 0;
  }

  .registration__lead {
    padding: 0 210px;
  }
}
