.reviews__item {
  margin: 0;

  font-weight: 300;
}

.reviews__author {
  display: block;
  margin: 20px 0 0;

  font-style: normal;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .reviews {
    @include content-text-light;
  }

  .reviews__author {
    @include content-text-bold;

    margin-top: 45px;
  }
}
