.step-second__list {
  @include list-reset;
}

.step-second__box {
  position: relative;

  display: flex;
  margin-bottom: 20px;
}

.step-second__select {
  width: 100%;
}

.step-second__flag {
  width: 53px;
  height: 42px;
  margin: 0;

  border: 1px solid #cbced9;
}

.step-second__select-delete {
  position: absolute;
}

.step-second__add-select {
  width: 100%;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: $grey-blue;
  border: none;
}

@media (min-width: $tablet-width) {
  .step-second__list {
    width: 100%;
    padding-top: 40px;

    border-top: 1px solid #cbced9;
  }

  .step-second__flag {
    padding: 0 55px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .step-second {
    .step__description {
      padding-right: 530px;
    }
  }
}
