.step {
  background-color: rgba(255, 255, 255, 1);
}

.step__title {
  margin: 0;

  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.step__description {
  margin: 0;

  color: $grey;
}

.step__box {
  margin: 0;
}

.step__label {
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.step__button_prev {
  background-color: transparent;
}

.step__textarea {
  font: inherit;
  line-height: 22px;
  color: $grey;

  border: 1px solid #cbced9;

  resize: none;
  &::placeholder {
    @include opacity-color($grey, 0.3);
  }
}
