.step {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 23px 25px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.step__header {
  position: relative;

  padding-bottom: 21px;
}

.step__title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 20px;
  line-height: 20px;

  span {
    display: block;
  }
}

.step__description {
  margin: 0;

  color: $grey;
}

.step__pagination {
  @include list-reset;

  position: absolute;
  top: 0;
  right: 0;

  display: none;
}

.step__item {
  position: relative;

  margin-bottom: 25px;
  padding-left: 20px;

  font-size: 20px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  letter-spacing: 2px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    @include opacity-bg(#808285, 0.3);

    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 6px;
    height: 6px;

    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.step__item_current {
  color: rgba(0, 0, 0, 1);

  &::before {
    background-color: $blue;
  }
}

.step__box {
  margin-bottom: 20px;
}

.step__label-check {
  margin-bottom: 22px;
  padding-top: 6px;
  padding-bottom: 5px;

  input:checked + .step__checkbox-visual {
    background-image: none;
  }

  &:hover .step__checkbox-visual,
  &:focus .step__checkbox-visual {
    background-image: none;
    border: 1px solid #959bb2;
  }

  &:focus-within .step__checkbox-visual {
    background-image: none;
    border: 1px solid #959bb2;
  }

  &:active .step__checkbox-visual {
    background-color: #e2e5f1;
    background-image: none;
    border: 0;
  }

  &:hover input:checked + .step__checkbox-visual,
  &:focus input:checked + .step__checkbox-visual {
    background-image: none;
    border: 1px solid #959bb2;
  }

  &:active input:checked + .step__checkbox-visual {
    background-color: #e2e5f1;
    background-image: none;
    border: 0;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.step__checkbox-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  border: 1px solid #cbced9;
}

.step__list {
  @include list-reset;

  width: 100%;
}

.step__select {
  position: relative;
  min-height: 41px;
  margin-bottom: 23px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 49px;
    z-index: 1;

    box-sizing: border-box;
    width: 8px;
    height: 8px;

    background-color: $blue;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    right: 50px;
    bottom: -16px;

    width: 5px;
    height: 10px;

    background-image: url("../../img/small-arrow.svg");
  }

  &:last-child {
    margin-bottom: 0;

    &::after {
      content: none;
    }

    &::before {
      background-color: $grey-blue;
    }
  }
}

.step__select_empty::before {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #cbced9;
}

.step__textarea {
  position: relative;

  margin-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;

    width: 6px;
    height: 6px;

    background-color: $blue;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -14px;

    box-sizing: border-box;
    width: 15px;
    height: 283px;

    border: 2px solid $blue;
    border-right: 0;
  }

  &:last-of-type {
    margin-bottom: 0;

    &::after {
      content: none;
    }
  }
}

.step__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 23px;
  // margin-bottom: -10px;
}

// .step:first-child {
//   .step__bottom {
//     margin-bottom: 0;
//   }
// }

@media (max-width: $tablet-width - 1px) {
  .step__button {
    justify-content: center;
    width: 100%;
    padding: 6px 25px 4px;

    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: $darkness-blue;
    text-transform: uppercase;

    border: none;
    border-radius: 20px;

    &::after {
      content: none;
    }
  }
}

.step__button_prev {
  margin-top: 19px;
  margin-bottom: -6px;
  padding: 0 5px;

  line-height: 18px;

  background-color: transparent;

  &:hover,
  &:focus {
    @include opacity-color($blue, 0.7);

    background-color: transparent;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    @include opacity-color($blue, 0.3);

    background-color: transparent;

    &::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .step {
    margin-bottom: 40px;
    padding: 45px 43px 54px 44px;

    border-radius: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .step__select {
    margin-bottom: 15px;
    min-height: 70px;

    &::before {
      right: 129px;

      width: 15px;
      height: 15px;
    }

    &::after {
      content: none;
    }
  }

  .step__header {
    z-index: 1;

    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 40px;

    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #cbced9;
  }

  .step__title {
    margin-bottom: 35px;

    font-size: 36px;
    line-height: 36px;
  }

  .step__description {
    // padding-right: 100px;
    font-size: 20px;
    line-height: 24px;
  }

  .step__box {
    padding-top: 25px;

    border-top: 1px solid #cbced9;

    &:first-of-type {
      padding-top: 0;

      border-top: none;
    }

    &:last-of-type {
      order: 1;
    }
  }

  .step__label-check {
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 58px;

    color: $blue;
    text-transform: uppercase;
    letter-spacing: 2px;

    svg {
      width: 12px;
      height: auto;
    }
  }

  .step__checkbox-visual {
    width: 34px;
    height: 34px;
  }

  .step__calendar {
    order: 2;
    margin-top: 40px;
  }

  .calendar__month-title {
    font-size: 36px;
    line-height: 36px;
  }

  .step__bottom {
    order: 3;
    padding-top: 48px;
  }

  .step__list {
    margin-top: 17px;
  }

  .step__list_area {
    margin-top: 5px;
  }

  .step__button {
    box-sizing: border-box;
    min-width: 285px;
  }

  .step__button_next {
    margin-bottom: 0;
  }

  .step__button_prev {
    min-width: 205px;
    margin-top: 0;
    margin-right: -6px;

    text-align: right;

    &::after {
      right: auto;
      left: 20px;

      order: -1;

      border-right: 10px solid $blue;
      border-left: none;
    }
  }

  .step_line {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 180px;
      right: 179px;
      bottom: 110px;

      width: 1px;

      background: linear-gradient(to bottom, #cbced9 80%, transparent 95%);
    }
  }

  .step__textarea {
    margin-bottom: 50px;

    &::after {
      right: 6px;
      left: auto;

      width: 3px;
      height: 275px;

      background-color: $blue;
      border: 0;
    }

    &::before {
      top: 10px;
      right: 0;
      left: auto;

      width: 15px;
      height: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .step {
    align-items: baseline;
    margin-bottom: 45px;
    padding: 89px 160px 104px;

    border-radius: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .step__header {
    margin-bottom: 30px;
    padding-right: 240px;
    padding-bottom: 55px;
  }

  .step__title {
    margin-bottom: 29px;

    line-height: 50px;

    span {
      display: inline;
    }
  }

  .step__description {
    padding-right: 180px;
  }

  .step__pagination {
    top: 17px;
    right: 46px;

    display: block;
  }

  .step__item {
    padding-left: 42px;
  }

  .step__box {
    flex-wrap: nowrap;
    align-items: center;
    width: 488px;
    margin-bottom: 13px;
    padding-top: 0;

    border-top: none;
  }

  .step__calendar {
    margin-top: 20px;
  }

  .step__list {
    margin-top: 32px;

    &::after {
      right: 252px;
    }
  }

  .step__list_area {
    margin-top: 50px;
  }

  .step__select {
    &::before {
      right: 218px;
    }
  }

  .step__textarea {
    &::before {
      right: 219px;
    }

    &::after {
      content: "";
      top: 20px;
      right: 225px;
      left: auto;

      width: 3px;
      height: 255px;

      background-color: $blue;
      border: 0;
    }
  }

  .step__bottom {
    padding-top: 56px;
  }

  .step__button_prev {
    width: auto;
    margin-right: 0;
  }

  .step_line {
    &::after {
      right: 384px;
      bottom: 70px;
    }
  }
}
