.textarea {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  font-size: 18px;
  line-height: 18px;
  white-space: nowrap;
}

.textarea__title {
  flex-grow: 1;
  margin-right: 35px;
  margin-bottom: 18px;
  padding-left: 11px;

  font-weight: 500;
}

.textarea__control {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  min-height: 220px;
  padding: 10px 13px;

  font-size: 16px;
  line-height: 22px;
  font-family: inherit;
  color: #444444;

  border: 1px solid #cbced9;
  border-radius: 4px;

  resize: none;

  &:hover {
    border: 1px solid #959bb2;
  }

  &:focus {
    border: 1px solid $darkness-blue;
  }

  &::placeholder {
    @include opacity-color($grey, 0.3);
  }

  &:invalid {
    border: 1px solid #f47e7e;
  }
}

.textarea__message {
  position: absolute;
  right: 1px;
  bottom: 1px;
  left: 1px;

  display: none;
  align-items: center;
  box-sizing: border-box;
  min-height: 57px;
  padding: 20px;

  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 0, 0, 1);
  text-transform: none;
  white-space: initial;

  background-color: #ffefef;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.textarea__control:invalid + .textarea__message {
  display: flex;
}

.textarea__flag {
  position: absolute;
  right: 0;

  display: block;
  width: 35px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .textarea {
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .textarea__title {
    margin-right: 105px;
    margin-bottom: 39px;
    padding-left: 0;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  .textarea__control {
    width: 94%;
    min-height: 142px;
    padding: 15px 17px;
    padding-right: 30px;

    font-size: 20px;
    line-height: 24px;

    &::placeholder {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .textarea__message {
    width: calc(94% - 2px);
  }

  .textarea__flag {
    top: -6px;
    right: 32px;

    width: 70px;
    height: 47px;
  }
}

@media (min-width: $desktop-width) {
  .textarea__control {
    width: 73%;
    margin-right: 20%;
    padding: 20px 25px;
    padding-right: 19px;
  }

  .textarea__flag {
    right: 116px;
  }

  .textarea__message {
    width: calc(73% - 2px);
  }
}
