.title-dot {
  position: relative;

  &::before {
    content: "";

    width: 7px;
    height: 7px;

    border-radius: 50%;
  }
}

.title-dot_pink::before {
  background-color: $pink;
}

.title-dot_green::before {
  background-color: $light-green;
}
