$black-blue: rgba(18, 25, 54, 1);
$darkness-blue: rgba(22, 28, 53, 1);
$dark-blue: rgba(25, 33, 68, 1);
$blue: rgba(29, 46, 91, 1);
$light-blue: rgba(212, 217, 235, 1);
$lightness-blue: rgba(223, 227, 240, 1);
$grey-blue: rgba(237, 239, 246, 1);
$orange: rgba(255, 141, 48, 1);
$light-orange: rgba(255, 165, 48, 1);
$yellow: rgba(255, 189, 48, 1);
$light-yellow: rgba(255, 215, 75, 1);
$grey: rgba(68, 68, 68, 1);
$light-grey: rgba(204, 204, 204, 1);
$pink: rgba(249, 118, 118, 1);
$light-pink: rgba(249, 234, 234, 1);
$light-green: rgba(129, 227, 30, 1);
