@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin section-title-orange {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $orange;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

@mixin opacity-color($color, $opacity) {
  $color: transparentize($color, 1);
  color: opacify($color, $opacity);
}

@mixin opacity-bg($color, $opacity) {
  $color: transparentize($color, 1);
  background-color: opacify($color, $opacity);
}

@mixin container {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@mixin extra-offset($left, $right) {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: $left + 25px;
  padding-right: $right + 25px;

  @media (min-width: $tablet-width) {
    padding-left: $left + 40px;
    padding-right: $right + 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: $left + 60px;
    padding-right: $right + 60px;
  }
}

@mixin padding-t-b ($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin content-text-light {
  font-size: 28px;
  line-height: 33px;
}

@mixin content-text-bold {
  font-size: 21px;
  line-height: 25px;
}

@mixin level-circle ($radius, $width, $level) {
  $radius: $radius - ($width / 2);
  $circle-length: 2 * 3.14 * $radius;
  $frac: $level / 100;
  $stroke-length: $circle-length * $frac;
  $space-length: $circle-length - $stroke-length;

  stroke-width: $width;
  r: 1px * $radius;
  stroke-dasharray: $stroke-length $space-length;
  stroke-dashoffset: $circle-length * 0.25;
}

@mixin bordered-bottom {

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: -30px;
  position: relative;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-bottom: -60px;
  }
}

@mixin bordered-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -30px;
  position: relative;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-top: -60px;
  }
}

@mixin pseudo-border($color: red) {
  position: relative;

  &::after {
    content: "";
    top: -1px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 0;
    position: absolute;
    right: 0;
    height: 30px;
    background-color: $color;
  }

  @media (min-width: $tablet-width) {
    &::after {
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }
}
